body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #c8e6c9;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-bottom: 5px solid #ec6e48;
}
nav {
    text-align: center;
    padding: 1em;
    background-color: #fff3e0;
}
nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #f14510;
    font-weight: bold;
}
main {
    padding: 2em;
}
footer {
    background-color: #c8e6c9;
    color: white;
    text-align: center;
    padding: 1em 0;
    border-top: 5px solid #ffccbc;
    position: fixed;
    width: 100%;
    bottom: 0;
}
h1, h2, h3 {
    color: #e05226;
}
ul {
    list-style-type: none;
}
ul li {
    background-color: #ffe0b2;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}
